.card-header{
    background: #cddce7;
    width: auto;
    height: 40px;
    font-family: "Times New Roman", Times, serif;
}
.card-title{
    color: rgb(179, 3, 3);
    font-family: "Times New Roman", Times, serif;
}
.card-text{
    color: rgb(141, 140, 140);
    
}
.con1{
   
    background:#eaf2f8;;
}
.con1-h5{
    background: #cddce7
}
.container{
    background:  #eaf2f8;
  }
.con2{
    background:  #eaf2f8;
}
.con3{
    background: #eaf2f8;
}
.card{ 
  
    width: 50;
    height: 130px;
       margin: 4px
       

}
