.card-body{
    background: #eaf2f8;
}
.card-header{
background: #cddce7;
margin-top: 0px
}
.rounded{
    height: 250px;


margin: auto;
}


#mail{
    height: 25px;
width: 40px;

background: #cddce7
}
#logo{
    height: 25px;
    width: 40px;
    
    background: #cddce7
}
.d-flex{
    background: #cddce7;
    margin-top: 3px;
    background:#eaf2f8
}
.p-1{
    background: #eaf2f8
}