
   <div id="accordion" role="tablist "class=" text-center shadow-sm p-2 ">
      <div class="card ">
        <div class="card-header " role="tab" id="headingOne">
          <h5 class="mb-0">
           
              مع تحيات
             
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
              قسم علم النفس الإكلينيكي
              <br>  بمستشفى الصحة النفسية بابها
              <br>
              <h5 class="mb-0">
            
                الأخصائي النفسي / احمد حسن ابوعايض
       
              </h5>
              
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header 
        " role="tab" id="headingTwo">
        <h5 class="mb-0">
      :تنفيذ مؤسسة
       </h5>
          <img class="rounded" src="assets/CloudComputing.png" alt="مؤسسة الحوسبة السحابية">
         

          <div class="d-flex text-center justify-content-center ">
              <div class="p-2 flex-fill "><img id="mail" src="assets/mail.png" alt="mail">
                <a href="mailto:info@iacloud.com"> info@iacloud.com </a></div>
            <div class="p-1 flex-fill"><img id="logo" src="assets/logo.png" alt="Iacloud">
              <a href="http://www.iacloud.com"target="_blank"> www.iacloud.com</a> </div>
              <div class="p-2 flex-fill "> <img id="mail" src="assets/mail.png" alt="mail">
                <a href="mailto:massiri@iacloud.com"> massiri@iacloud.com </a></div>
            </div>
             
           
         
          <!-- <div class="info row mt-2 text-center">
              <div class="col-sm">
                  <img id="logo3" src="assets/logo8.png" alt="Iacloud">
                    <a href="http://www.iacloud.com"target="_blank"> www.iacloud.com</a>   
                </div>
            <div class="col-sm">
              <img id="mail" src="assets/mail.png" alt="mail">
              <a href="mailto:info@iacloud.com"> info@iacloud.com </a>
            </div>
            <div class="col-sm">
              <img id="mail" src="assets/mail.png" alt="mail">
            <a href="mailto:massiri@iacloud.com"> massiri@iacloud.com </a>
          </div> 
        </div> -->
       
        </div>
      

   
    </div>
    